#root {
  text-align: center;
  color: white;
  font-family: generalsans-medium;
}

body {
  background-color: #111111;
}

.CustomButton:hover svg {
  translate: 0.25rem -0.25rem;
}

.Scrollable {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
