@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "generalsans-bold";
  src: url(./Fonts/GeneralSans-Bold.woff);
}

@font-face {
  font-family: "generalsans-semibold";
  src: url(./Fonts/GeneralSans-Semibold.woff);
}

@font-face {
  font-family: "generalsans-medium";
  src: url(./Fonts/GeneralSans-Medium.woff);
}
